@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Titillium+Web');

html {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 15px;
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3 {
  font-family: 'Julius Sans One', sans-serif;

}

img {
  max-width: 100%;
}

.grid-set {
  display: grid;
  margin: 0 auto;
  justify-items: center;
  max-width: 1000px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
    "header header header"
    "intro intro intro"
    "art-pic art-info art-info"
    "vg-info vg-pic vg-pic"
    "footer footer footer";
}

.item {
  padding: 10px;
  margin: 0 auto;
}

.a {
  grid-area: header;
  text-align: center;
}

.b {
  grid-area: intro;
}

.c {
  grid-area: art-pic;
}

.d {
  grid-area: art-info;
}

.e {
  grid-area: vg-pic;
}

.f {
  grid-area: vg-info;
}

.z {
  grid-area: footer;
}

@media screen and (max-width: 600px) {

  .grid-set {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "intro"
      "art-pic"
      "art-info"
      "vg-pic"
      "vg-info"
      "footer";
  }
