html {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

div {

}

.grid-set {
  display: grid;
  margin: 0 auto;
  justify-items: center;
  max-width: 1000px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
    "header header header"
    "side side pic"
    "footer footer footer";
}

.item {
  padding: 10px;
  margin: 0 auto;
}

.a {
  grid-area: header;
  text-align: center;
}

.b {
  grid-area: side;
}

.c {
  grid-area: pic;
}

.d {
  grid-area: footer;
}

@media screen and (max-width: 600px) {

  .grid-set {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "side"
      "pic"
      "footer";
  }
